:root {
  --cyan-5: #22b8cf;
  --indigo-5: #5c7cfa;
  --purple-5: #cc5de8;
}

.v2-container {
  .header-title {
    --color-1: var(--cyan-5);
    --color-2: var(--indigo-5);
    --color-3: var(--purple-5);
    --color-4: var(--indigo-5);
    --color-5: var(--cyan-5);
    text-wrap: balance;
    background: linear-gradient(
      to top right,
      var(--color-1) calc(19% - 1px),
      transparent 19%,
      transparent calc(20% - 1px),
      var(--color-2) 20%,
      var(--color-2) calc(39% - 1px),
      transparent 39%,
      transparent calc(40% - 1px),
      var(--color-3) 40%,
      var(--color-3) calc(59% - 1px),
      transparent 59%,
      transparent calc(60% - 1px),
      var(--color-4) 60%,
      var(--color-4) calc(79% - 1px),
      transparent 79%,
      transparent calc(80% - 1px),
      var(--color-5) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-block-start: var(--size-3);
    word-break: break-word;
  }
  #clock {
    color: #ffffff;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    .time {
      li {
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
        padding: 10px;
      }
      li span {
        display: block;
        font-size: 20px;
      }
    }
    .date {
      letter-spacing: 0.1em;
      font-size: 24px;
    }
    .text {
      letter-spacing: 0.1em;
      font-size: 12px;
      padding: 20px 0 0;
    }
  }
}
